@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  background-color: rgba(252, 222, 226, 0.733);
}

nav {
  max-height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(231, 217, 217, 0.438);
  z-index: 1;
}

nav .logo img {
  width: 160px;
}

nav ul li {
  font-size: 25px;
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

nav ul li a {
  padding: 5px 16px;
  text-decoration: none;
  text-transform: capitalize;
  color: orangered;
  transition: 0.1s;

  &:hover {
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

  }
}

#logout {
  font-size: 20px;
  border: 1px solid rgb(255, 255, 255);
  background-color: orangered;
  color: white;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  padding: 5px 20px;
  cursor: pointer;

  &:hover {
    background-color: orange;
    border: 1px solid rgb(255, 255, 255);
  }
}
