@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  max-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 1;

}

nav div {
  height: 100px;
  width: 150px;
}

nav .logo {
  width: 100%;
  height: 100%;
}

nav ul li {
  font-size: 25px;
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

nav ul li a {
  padding: 5px 16px;
  text-decoration: none;
  text-transform: capitalize;
  color: orangered;
  transition: 0.1s;

  &:hover {
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.sign-in-login {
  border: 1px solid rgb(255, 255, 255);
  background-color: orangered;
  color: white;
  border-radius: 10px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: orange;
    border: 1px solid rgb(255, 255, 255);
  }
}

.content {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.content h1 {
  font-size: 180px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff9f;
  transition: 0.3s;
  opacity: 0;
  animation: headingFade 2s ease-in forwards;

  &:hover {
    cursor: pointer;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }
}

.content p {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-top: 40px;
  opacity: 0;
  animation: headingFade 4s ease-in forwards;
}

.content p span {
  color: #f3b311;
  font-weight: 200;
  font-family: "Borel", cursive;
}

.content p img {
  height: 30px;
  position: relative;
  top: 4px;
}

.content a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  border: 2px solid #fff;
  margin-top: 50px;
  padding: 14px 70px;
  border-radius: 50px;
  opacity: 0;
  animation: headingFade 4s ease-in forwards;

  &:hover {
    background-color: #f3b311;
  }
}

@keyframes headingFade {
  to {
    opacity: 1;
  }
}

.back-video {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.trending {
  background-color: #e0dcdc;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 1;
  animation: blinkBg 1.2s infinite;

}

@keyframes blinkBg {

  0%,
  100% {
    background-color: #d9f72e;
  }

  50% {
    background-color: #ffffff;
  }
}

.trending p {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.trending p i {
  color: rgb(255, 123, 0);
  margin-right: 10px;
  font-size: 35px;

}


/* main section */

main {
  width: 100%;
  padding: 30px 2%;
  /* background-color: black; */
  text-align: justify;
}

section {
  width: 100%;
  background-color: #e0dcdc;
  padding: 2%;
  margin: 50px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main #about-section {
  width: 100%;
  min-height: 700px;
  background-color: #e0dcdc;
  padding: 2%;
  margin: 50px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

section h1 {
  text-align: center;
  font-size: 6vh;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 2px solid rgba(128, 128, 0, 0.562);
  color: olivedrab;
}


/* about section */

section .about-content {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #f3b311;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.about-content p {
  line-height: 45px;
  font-size: 25px;
  width: 700px;
}

.about-content .images {
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#delicious-food {
  height: 80%;
  width: 50%;
  position: relative;
  top: 50px;
  transform: rotate(-20deg);
}

#south-food {
  position: relative;
  top: 50px;
  right: 20px;
  height: 80%;
  width: 50%;
  transform: rotate(20deg);
}

#about-section a {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 30px;
  font-size: 20px;
  color: rgb(34, 34, 1);
  border-radius: 5px;
  font-weight: 700;
  position: relative;
  left: 600px;
  top: 30px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #fae4ab;
    border-color: whitesmoke;
  }
}


/* chef-thoughts-section */
#chef-thoughts-section #thought-and-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background: linear-gradient(90deg, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 17%, rgba(245, 212, 127, 1) 60%, rgba(255, 195, 43, 1) 82%, rgba(243, 179, 17, 1) 97%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#chef-thoughts-section img {
  width: 30%;
  height: 40%;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 50px 100px -90px, rgba(0, 0, 0, 0.212) 0px 30px 60px -30px, rgb(155, 157, 160) 0px -2px 6px 0px inset;
}

#chef-thoughts-section .thought {
  width: 50%;
  margin-right: 160px;
}

#chef-thoughts-section .thought h2 {
  font-weight: 900;
  text-transform: capitalize;
  color: orangered;
}

#chef-thoughts-section .thought p {
  font-size: 22px;
  margin: 20px 0px;
  letter-spacing: 1px;
  line-height: 35px;
  margin-right: 30px;
  color: rgb(29, 29, 11);
  text-align: justify;
}


/*  unique and engaging sections */

#unique-and-engaging-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#unique-and-engaging-sections aside {
  min-height: 400px;
  width: 50%;
  background: linear-gradient(140deg, #F3B311, #d35e5e);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px;
  padding: 20px;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(140deg, #d35e5e, #F3B311);
    cursor: pointer;
  }
}

#unique-and-engaging-sections aside h1 {
  color: whitesmoke;
  font-size: 30px;
  padding-bottom: 10px;
}

#unique-and-engaging-sections aside img {
  width: 100%;
  height: 300px;
}

#unique-and-engaging-sections aside p {
  text-align: left;
  color: black;
  font-weight: normal;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;

}

#unique-and-engaging-sections aside .content {
  display: flex;
  flex-wrap: wrap;
  background-color: #F3B311;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease;

  &:hover {
    background-color: #f0e2bf;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: scale(0.98);
  }
}

#unique-and-engaging-sections aside .content p {
  opacity: 1;
  line-height: 30px;
}

/*  Weekly Recipe Challenge */
#Weekly-Recipe-Challenge h1 {
  font-size: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#Weekly-Recipe-Challenge .content-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#Weekly-Recipe-Challenge .content-section img {
  max-width: 30%;
  position: relative;
  animation: imageMove 2s ease-in-out infinite;
}

@keyframes imageMove {
  0% {
    transform: scale(0.1);
  }

}

#Weekly-Recipe-Challenge .content-section .para {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  width: 40%;
}

#Weekly-Recipe-Challenge .content-section .para p {
  font-size: 23px;
  line-height: 36px;
  text-align: justify;
  color: #7c5c0b;
}

#Weekly-Recipe-Challenge .content-section .para a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 300;
  text-transform: capitalize;
  border: 1px solid olivedrab;
  padding: 10px 60px;
  border-radius: 50px;
  animation: blinkingContestButton 1.3s infinite;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &::before {
    content: "———";
    margin-right: 10px;
    color: red;
  }

  &::after {
    content: "———";
    color: red;
    margin-left: 10px;

  }
}

@keyframes blinkingContestButton {

  0%,
  100% {
    background-color: #f5baba;
  }

  50% {
    background-color: #f596087a;
  }
}

/* Food Showcase */

#food-showcase {
  padding-bottom: 40px;

}

#food-showcase .food-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  margin-top: 40px;
  place-items: center;
}

#food-showcase .food-content .food-card {
  background-color: #ffb700;
  padding-bottom: 20px;
  border-radius: 8px;
  text-align: center;
  transition: 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale3d(1.2, 1.1, 1);
  }
}

#food-showcase .food-content .food-card img {
  width: 100%;
  height: 70%;
  border-radius: 8px;
}

#food-showcase .food-content .food-card p {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

#food-showcase .food-content .food-card a {
  font-size: 16px;
  padding: 6px 80px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  border-radius: 30px;
  border: 1px solid black;
  background-color: #000000;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #f0e2bf;
    color: #000000;
  }
}


/*  all-time-food*/
#all-time-food {
  height: 900px;
}

#all-time-food .parent div {
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

#all-time-food .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}

#all-time-food .parent h2 {
  font-family: "Borel", cursive;
  font-weight: 100;
}

.breakfast {
  grid-column: span 2 / span 2;
  grid-row: span 6 / span 6;
  height: calc(900px - 70px);
  background-image: url(./ASSETS/breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -200px;
  text-align: center;
}


.breakfast h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 30px;
  font-size: 70px;
  color: rgb(60, 88, 4);
}

.breakfast h2::first-letter {
  color: #ee3434;
  font-size: 100px;
}

.breakfast p {
  width: 70%;
  margin: 10px auto;
  font-size: 20px;
  word-spacing: 3px;
  line-height: 30px;
  text-align: left;

}

.breakfast .breakfast-link {
  margin: 50px 150px;
  font-size: 30px;
  /* text-align: center; */
  text-transform: capitalize;
}

.breakfast .breakfast-link a {
  text-decoration: none;
  font-weight: 500;
  border: 1px solid black;
  background-color: #ffffff71;
  padding: 10px 60px;
  border-radius: 40px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #00000057;
    color: #fff;
    border-color: #f3b311;
  }
}

.lunch {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  background-image: linear-gradient(rgba(168, 179, 184, 0.212), rgba(203, 203, 214, 0.082)), url(./ASSETS/lunch.jpg);
  background-size: contain;
  background-repeat: no-repeat;

}

.lunch h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 70px;
  color: rgb(60, 88, 4);
}

.lunch h2::first-letter {
  font-size: 90px;
  color: #ee3434;
  font-weight: 900;
}

.lunch .lunch-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lunch .lunch-content p {
  width: 40%;
  font-size: 20px;
  word-spacing: normal;
  line-height: 30px;

}

.lunch .lunch-content a {
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #f3b311;
  padding: 4px 60px;
  border-radius: 40px;
  background-color: #fffbfb57;

  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #00000057;
    color: #fff;
    border-color: #f3b311;
  }
}

.dinner {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.096)), url(./ASSETS/dinner.jpg);
  background-size: cover;
  background-position: 0 -290px;
  text-align: center;
}

.dinner h2 {
  color: rgb(60, 88, 4);
  font-size: 70px;
  font-weight: 900;
}

.dinner h2 span {
  letter-spacing: 2px;

  font-size: 80px;
  color: #ee3434;
}

.dinner p {
  width: 60%;
  margin: 0px auto 40px auto;
  line-height: 25px;
  font-size: 20px;
  color: rgb(255, 254, 254);
  text-align: left
}

.dinner a {
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #f3b311;
  padding: 4px 60px;
  border-radius: 40px;
  background-color: #ffffff57;
  color: rebeccapurple;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #00000057;
    color: #fff;
    border-color: #f3b311;
  }
}

.snacks-and-dessert {
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 1;
  background: linear-gradient(rgba(255, 255, 255, 0.445)), url(./ASSETS/dessert.jpg);
  background-size: contain;
  text-align: center;

}

.snacks-and-dessert h2 {
  text-align: center;
  font-size: 60px;
  color: rgb(60, 88, 4);
}

.snacks-and-dessert h2::first-letter {
  color: #ee3434;
}

.snacks-and-dessert p {

  font-size: 20px;
  line-height: 30px;
}

.snacks-and-dessert p span {
  color: rgb(132, 141, 0);
  font-weight: 500;
  font-size: 35px;
}

.snacks-and-dessert .dessert-para {
  margin-bottom: 40px;
}

.snacks-and-dessert a {
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #f3b311;
  padding: 4px 80px;
  border-radius: 40px;
  background-color: #ffffff57;
  color: rebeccapurple;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #00000057;
    color: #fff;
    border-color: #f3b311;
  }
}

footer {
  width: 100%;
  background-color: #000000;
  color: #ccc;
  padding: 30px 8%;
}

footer .tasty-food {
  text-align: center;
  padding: 10px;
}

footer .tasty-food h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #d35e5e;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: 3px;
}

footer .tasty-food p {
  color: #adacac;
  font-size: 18px;
}

footer .middle {
  margin-top: 70px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0px 30px;

}

footer .middle h3 {
  color: #7a7272;
  font-size: 30px;
}

footer .middle ul li {
  list-style: none;
  margin: 20px auto;
  font-size: 20px;
  text-align: left;
}

footer .middle ul li i {
  margin: 0px 20px;
  font-size: 30px;
  height: 30px;
  width: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

footer .middle ul li a {
  text-decoration: none;
  color: rgb(99, 102, 93);
  transition: 0.2s ease-in-out;

  &:hover {
    color: rgb(255, 255, 255);
  }
}

footer .copyright {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: white;
}




































/* Responsive design */
@media (max-width :600px) {
  nav {
    padding: 0px;
  }

  nav div {
    width: 70px;
    height: 70px;
  }

  nav ul {
    width: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }

  nav ul li a {
    margin-left: 0px;
    padding: 8px;
  }

  .sign-in-login {
    font-size: 12px;
    padding: 3px 8px;
    border: 1px solid;
    margin-right: 6px;
  }

  .content {
    padding: 20px 10px;
  }

  .content h1 {
    font-size: 44px;

    &:hover {
      -webkit-text-stroke: 1px #fff;
    }
  }

  .content p {
    margin-top: 20px;
    font-size: 10px;
    letter-spacing: 2px;
  }

  .content p img {
    height: 16px;

  }

  .trending {
    right: 10px;
  }

  .trending p {
    font-size: 14px;
  }

  .trending p i {
    font-size: 18px;
  }

  main section h1 {
    font-size: 30px;
  }

  section .about-content {
    flex-direction: column;
    padding: 10px 20px;
    
  }

  .about-content p {
    font-size: 16px;
    line-height: normal;
    width: 100%;
  }

  .about-content .images {
    top: -40px;
    width: 100%;
    height: 50%;
  }

  #delicious-food {
    width: 40%;
    left: 18px;
  }

  #south-food {
    width: 50%;
    right: 16px;
    top: 53px;
  }

  #about-section a {
    top: 50px;
    left: 30%;
  }

  #chef-thoughts-section #thought-and-image {
    flex-direction: column;
    margin-bottom: 40px;
    background: linear-gradient(180deg, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 17%, rgba(245, 212, 127, 1) 60%, rgba(255, 195, 43, 1) 82%, rgba(243, 179, 17, 1) 97%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  #chef-thoughts-section img {
    width: 100%;
  }

  #chef-thoughts-section .thought {
    width: 100%;
    margin: 20px 0px;
    padding: 0px 15px;
  }

  #chef-thoughts-section .thought h2 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 900;
  }

  #chef-thoughts-section .thought p {
    line-height: 20px;
    font-size: 16px;
  }

  #unique-and-engaging-sections {
    flex-direction: column;

  }

  #unique-and-engaging-sections aside {
    width: 100%;
  }

  #unique-and-engaging-sections aside img {
    height: 200px;
  }

  #unique-and-engaging-sections aside h1 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  #unique-and-engaging-sections aside p {
    letter-spacing: normal;
    font-size: 16px;
  }

  #Weekly-Recipe-Challenge h1 {
    font-size: 20px;
    letter-spacing: 2px;
  }

  #Weekly-Recipe-Challenge .content-section {
    flex-direction: column;
  }

  #Weekly-Recipe-Challenge .content-section img {
    width: 100%;
  }

  #Weekly-Recipe-Challenge .content-section .para {
    margin-top: -10px;
    justify-content: space-evenly;
    width: 90%;
  }

  #Weekly-Recipe-Challenge .content-section .para p {
    font-size: 16px;
    line-height: normal;
  }

  #Weekly-Recipe-Challenge .content-section .para a {
    padding: 4px 10px;
    font-size: 18px;
  }

  #food-showcase .food-content {
    place-items: center;
    gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  #food-showcase .food-content .food-card {
    width: 150px;
  }

  #food-showcase .food-content .food-card p {
    font-size: 20px;
  }

  #food-showcase .food-content .food-card a {
    font-size: 15px;
    font-weight: normal;
    padding: 5px 20px;
  }


  
}



/*  small devices (portrait tablets and phones 600px and up)*/
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}


/*Large devices (laptop/ desktops, 992px and up) */
@media only screen and (min-width : 992px) {}

/* Extra large devices (large laptop and desktops, 1200px and up) */
@media only screen and (min-width:1200px) {}