@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  max-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 1;

}

nav div {
  height: 100px;
  width: 150px;
}

nav .logo {
  width: 100%;
  height: 100%;
}

nav ul li {
  font-size: 25px;
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

nav ul li a {
  padding: 5px 16px;
  text-decoration: none;
  text-transform: capitalize;
  color: orangered;
  transition: 0.1s;

  &:hover {
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.sign-in-login {
  border: 1px solid rgb(255, 255, 255);
  background-color: orangered;
  color: white;
  border-radius: 10px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: orange;
    border: 1px solid rgb(255, 255, 255);
  }
}

.content {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.content h1 {
  font-size: 180px;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff9f;
  transition: 0.3s;
  opacity: 0;
  animation: headingFade 2s ease-in forwards;

  &:hover {
    cursor: pointer;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }
}

.content p {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-top: 40px;
  opacity: 0;
  animation: headingFade 4s ease-in forwards;
}

.content p span {
  color: #f3b311;
  font-weight: 200;
  font-family: "Borel", cursive;
}

.content p img {
  height: 30px;
  position: relative;
  top: 4px;
}

.content a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  border: 2px solid #fff;
  margin-top: 50px;
  padding: 14px 70px;
  border-radius: 50px;
  opacity: 0;
  animation: headingFade 4s ease-in forwards;

  &:hover {
    background-color: #f3b311;
  }
}

@keyframes headingFade {
  to {
    opacity: 1;
  }
}

.back-video {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.trending {
  background-color: #e0dcdc;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 1;
  animation: blinkBg 1.2s infinite;

}

@keyframes blinkBg {

  0%,
  100% {
    background-color: #d9f72e;
  }

  50% {
    background-color: #ffffff;
  }
}

.trending p {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.trending p i {
  color: rgb(255, 123, 0);
  margin-right: 10px;
  font-size: 35px;

}


/* main section */

main {
  width: 100%;
  height: 1000vh;
  padding: 30px 2%;
  /* background-color: black; */
  text-align: justify;
}

section {
  width: 100%;
  background-color: #e0dcdc;
  padding: 2%;
  margin: 50px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main #about-section {
  width: 100%;
  min-height: 700px;
  background-color: #e0dcdc;
  padding: 2%;
  margin: 50px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

section h1 {
  text-align: center;
  font-size: 6vh;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 2px solid rgba(128, 128, 0, 0.562);
  color: olivedrab;
}


/* about section */

section .about-content {
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #f3b311;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.about-content p {
  line-height: 45px;
  font-size: 25px;
  width: 700px;
}

.about-content .images {
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#delicious-food {
  height: 80%;
  width: 50%;
  position: relative;
  top: 50px;
  transform: rotate(-20deg);
}

#south-food {
  position: relative;
  top: 50px;
  right: 20px;
  height: 80%;
  width: 50%;
  transform: rotate(20deg);
}

#about-section a {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 30px;
  font-size: 20px;
  color: rgb(34, 34, 1);
  border-radius: 5px;
  font-weight: 700;
  position: relative;
  left: 600px;
  top: 30px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #fae4ab;
    border-color: whitesmoke;
  }
}


/* chef-thoughts-section */
#chef-thoughts-section #thought-and-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background: linear-gradient(90deg, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 17%, rgba(245, 212, 127, 1) 60%, rgba(255, 195, 43, 1) 82%, rgba(243, 179, 17, 1) 97%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#chef-thoughts-section img {
  width: 30%;
  height: 40%;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 50px 100px -90px, rgba(0, 0, 0, 0.212) 0px 30px 60px -30px, rgb(155, 157, 160) 0px -2px 6px 0px inset;
}

#chef-thoughts-section .thought {
  width: 50%;
  margin-right: 160px;
}

#chef-thoughts-section .thought h2 {
  font-weight: 900;
  text-transform: capitalize;
  color: orangered;
}

#chef-thoughts-section .thought p {
  font-size: 22px;
  margin: 20px 0px;
  letter-spacing: 1px;
  line-height: 35px;
  margin-right: 30px;
  color: rgb(29, 29, 11);
  text-align: justify;
}


/*  unique and engaging sections */

#unique-and-engaging-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#unique-and-engaging-sections aside {
  min-height: 400px;
  width: 50%;
  background: linear-gradient(140deg, #F3B311, #d35e5e);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 20px;
  padding: 20px;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(140deg, #d35e5e, #F3B311);
    cursor: pointer;
  }
}

#unique-and-engaging-sections aside h1 {
  color: whitesmoke;
  font-size: 30px;
  padding-bottom: 10px;
}

#unique-and-engaging-sections aside img {
  width: 100%;
  height: 300px;
}

#unique-and-engaging-sections aside p {
  text-align: left;
  color: black;
  font-weight: normal;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;

}

#unique-and-engaging-sections aside .content {
  display: flex;
  flex-wrap: wrap;
  background-color: #F3B311;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease;

  &:hover {
    background-color: #f0e2bf;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: scale(0.98);
  }
}

#unique-and-engaging-sections aside .content p {
  opacity: 1;
  line-height: 30px;
}

/*  Weekly Recipe Challenge */
#Weekly-Recipe-Challenge h1 {
  font-size: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#Weekly-Recipe-Challenge .content-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#Weekly-Recipe-Challenge .content-section  img{
  max-width: 30%;
  position: relative;
  animation:  imageMove  2s  ease-in-out infinite;
}
@keyframes imageMove{
  0%{
    transform: scale(0.1);
  }
  
}
#Weekly-Recipe-Challenge .content-section .para {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  width: 40%;
}

#Weekly-Recipe-Challenge .content-section .para p {
  font-size: 23px;
  line-height: 36px;
  text-align: justify;
  color: #7c5c0b;
}

#Weekly-Recipe-Challenge .content-section .para a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 300;
  text-transform: capitalize;
  border: 1px solid olivedrab;
  padding: 10px 60px;
  border-radius: 50px;
  animation: blinkingContestButton 1.3s infinite;

  &::before {
    content: "———";
    margin-right: 10px;
    color: red;
  }

  &::after {
    content: "———";
    color: red;
    margin-left: 10px;

  }
}

@keyframes blinkingContestButton {

  0%,
  100% {
    background-color: #f5baba;
  }

  50% {
    background-color: #f596087a;
  }
}

/* Food Showcase */

#food-showcase{
  min-height: 400px;
  display: flex;
}











































/* Responsive design */
@media (max-width :600px) {
  nav {
    padding: 0px;
  }

  nav div {
    width: 70px;
    height: 70px;
  }

  nav ul {
    width: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }

  nav ul li a {
    margin-left: 0px;
    padding: 8px;
  }

  .sign-in-login {
    font-size: 12px;
    padding: 3px 8px;
    border: 1px solid;
    margin-right: 6px;
  }

  .content {
    padding: 20px 10px;
  }

  .content h1 {
    font-size: 44px;

    &:hover {
      -webkit-text-stroke: 1px #fff;
    }
  }

  .content p {
    margin-top: 20px;
    font-size: 10px;
    letter-spacing: 2px;
  }

  .content p img {
    height: 16px;

  }

  .trending {
    right: 10px;
  }

  .trending p {
    font-size: 14px;
  }

  .trending p i {
    font-size: 18px;
  }

  main section h1 {
    font-size: 30px;
  }

  section .about-content {
    flex-direction: column;
    padding: 20px;
  }

  .about-content p {
    font-size: 16px;
    line-height: normal;
    width: 100%;
  }

  .about-content .images {
    width: 100%;
    height: 100%;
  }

  #delicious-food {
    width: 40%;
    left: 18px;
  }

  #south-food {
    width: 50%;
    right: 16px;
    top: 53px;
  }

  #about-section a {
    top: 50px;
    left: 30%;
  }

  #chef-thoughts-section #thought-and-image {
    flex-direction: column;
    margin-bottom: 40px;
    background: linear-gradient(180deg, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 17%, rgba(245, 212, 127, 1) 60%, rgba(255, 195, 43, 1) 82%, rgba(243, 179, 17, 1) 97%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  #chef-thoughts-section img {
    width: 100%;
  }

  #chef-thoughts-section .thought {
    width: 100%;
    margin: 20px 0px;
    padding: 0px 15px;
  }

  #chef-thoughts-section .thought h2 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 900;
  }

  #chef-thoughts-section .thought p {
    line-height: 20px;
    font-size: 16px;
  }

  #unique-and-engaging-sections {
    flex-direction: column;

  }

  #unique-and-engaging-sections aside {
    width: 100%;
  }

  #unique-and-engaging-sections aside h1 {
    font-size: 20px;
    padding-bottom: 10px;
  }

#Weekly-Recipe-Challenge h1 {
  font-size: 20px;
  letter-spacing: 2px;
}
#Weekly-Recipe-Challenge .content-section{
  flex-direction: column;
}
#Weekly-Recipe-Challenge .content-section img{
  width: 100%;
}
#Weekly-Recipe-Challenge .content-section .para {
  margin-top: -10px;
  justify-content: space-evenly;
  width: 90%;
}
#Weekly-Recipe-Challenge .content-section .para p{
  font-size: 16px;
  line-height: normal;
}
#Weekly-Recipe-Challenge .content-section .para a {
  padding: 4px 10px;
  font-size: 18px;
}

}



/*  small devices (portrait tablets and phones 600px and up)*/
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}


/*Large devices (laptop/ desktops, 992px and up) */
@media only screen and (min-width : 992px) {}

/* Extra large devices (large laptop and desktops, 1200px and up) */
@media only screen and (min-width:1200px) {}